@import url('https://fonts.googleapis.com/css?family=Cousine&display=swap');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,700&display=swap');

@mixin font-face($font-name, $font-path-woff, $font-path-woff2, $font-weight: normal, $font-style: normal) {
  @font-face {
    font-family: $font-name;
    src:  url($font-path-woff) format('woff'),
          url($font-path-woff2) format('woff2');
    font-weight: $font-weight;
    font-style: $font-style;
  }
}

@include font-face(
  'Material Icons',
  '../assets/fonts/icons/material-icons-regular.woff',
  '../assets/fonts/icons/material-icons-regular.woff2',
  normal,
  normal
)

@include font-face(
  'Chipping',
  '~assets/fonts/chipping/Chipping.woff',
  '~assets/fonts/chipping/Chipping.woff2',
  400,
  normal
)

@include font-face(
  'Stymie',
  '~assets/fonts/stymie/stymie-bold-condensed.woff',
  '~assets/fonts/stymie/stymie-bold-condensed.woff2',
  400,
  normal
)

@include font-face(
  'Franklin',
  '~assets/fonts/franklin/ITCFranklinGothicStd-Book.woff',
  '~assets/fonts/franklin/ITCFranklinGothicStd-Book.woff2',
  400,
  normal
)

@include font-face(
  'Franklin',
  '~assets/fonts/franklin/ITCFranklinGothicStd-Med.woff',
  '~assets/fonts/franklin/ITCFranklinGothicStd-Med.woff2',
  600,
  normal
)

@include font-face(
  'Franklin',
  '~assets/fonts/franklin/ITCFranklinGothicStd-Demi.woff',
  '~assets/fonts/franklin/ITCFranklinGothicStd-Demi.woff2',
  700,
  normal
)

@include font-face(
  'Sackers',
  '~assets/fonts/sackers/AT-Sackers-Gothic-Heavy.woff',
  '~assets/fonts/sackers/AT-Sackers-Gothic-Heavy.woff2',
  400,
  normal
)